In [135]:
import pandas as pd

In [136]:
import numpy as np

In [137]:
import sklearn as sk
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge

In [138]:
from scipy.sparse import hstack

In [139]:
data_train = pd.read_csv('salary-train.csv')

In [140]:
data_test = pd.read_csv('salary-test-mini.csv')

In [141]:
data_train.head(5)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [142]:
data_train['FullDescription'] = data_train['FullDescription'].map(lambda x: x.lower())

In [143]:
data_test['FullDescription'] = data_test['FullDescription'].map(lambda x: x.lower())

In [144]:
data_train['FullDescription'] = data_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [145]:
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [146]:
vectorizer = TfidfVectorizer(min_df = 5)

In [147]:
X_train = vectorizer.fit_transform(data_train['FullDescription'])

In [148]:
X_test = vectorizer.transform(data_test['FullDescription'])

In [149]:
data_train['LocationNormalized'].fillna('nan', inplace=True)

In [150]:
data_train['ContractTime'].fillna('nan', inplace=True)

In [151]:
data_test['LocationNormalized'].fillna('nan', inplace=True)

In [152]:
data_test['ContractTime'].fillna('nan', inplace=True)

In [153]:
enc = DictVectorizer()

In [154]:
X_train_categ = enc.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [155]:
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [156]:
X_train = hstack([X_train, X_train_categ])

In [158]:
X_test = hstack([X_test, X_test_categ])

In [159]:
y_train = data_train['SalaryNormalized']

In [160]:
linreg = Ridge(alpha = 1)

In [161]:
linreg.fit(X_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [162]:
predictions = linreg.predict(X_test)

In [163]:
predictions

array([ 56553.02203456,  37206.29101056])

In [164]:
data_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,Milton Keynes,contract,NaN
1,a web developer opportunity has arisen with an...,Manchester,permanent,NaN